/datasets/data/
../fio/datasets/federal/naics/log
datasets/federal/us-frs/log
datasets/federal/us-frs/us-frs-data-echo-IL.ttl
datasets/federal/us-frs/us-frs-data-echo-ME.ttl
datasets/federal/us-frs/us-frs-data-echo.ttl
datasets/federal/us-frs/us-frs-data-pat-ME.ttl
datasets/federal/us-frs/us-frs-environmentalInterest-echo_IL.ttl
datasets/federal/us-frs/us-frs-environmentalInterest-echo_ME.ttl
datasets/federal/us-frs/us-frs-environmentalInterest-echo.ttl
datasets/federal/us-frs/us-frs-industry-naics-echo-IL.ttl
datasets/federal/us-frs/us-frs-industry-naics-echo-ME.ttl
datasets/federal/us-frs/us-frs-industry-naics-echo.ttl
datasets/federal/us-frs/us-frs-industry-sic-echo-IL.ttl
datasets/federal/us-frs/us-frs-industry-sic-echo-ME.ttl
datasets/federal/us-frs/us-frs-industry-sic-echo.ttl
datasets/federal/us-frs/__pycache__/variable.cpython-311.pyc
datasets/federal/us-ghg/log
datasets/federal/us-ghg/us-epa-ghg-releases-IL.ttl
datasets/federal/us-ghg/us-epa-ghg-releases-ME.ttl
datasets/federal/us-sdwis/log
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-IL.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-ME.ttl
datasets/federal/us-sdwis/us-sdwis-IL.ttl
datasets/illinois/il-epa/il-epa-water2021.ttl
datasets/illinois/il-epa/log
datasets/maine/mgs/log
datasets/maine/mgs/mgs_wells_located_output.ttl
datasets/maine/mgs/mgs_wells_unlocated_output.ttl
datasets/maine/mgs/well_types.txt
datasets/maine/mgs/well_uses.txt
ontologies/administrative-regions/mgs_wells_located_output.ttl
datasets/federal/us-frs/us-frs-data-echo-OH.ttl
datasets/federal/us-frs/us-frs-data-pat-IL.ttl
datasets/federal/us-frs/us-frs-data-pat-OH.ttl
datasets/federal/us-frs/us-frs-industry-naics-echo-OH.ttl
datasets/federal/us-frs/us-frs-industry-sic-echo-OH.ttl
datasets/illinois/il-isgs/il-isgs-wells.ttl
datasets/illinois/il-isgs/il-isgs-wellsGeo.ttl
datasets/federal/us-sdwis/us-sdwis-ME.ttl
datasets/massachusetts/README.MD
datasets/federal/us-frs/us-frs-environmentalInterest-echo_OH.ttl
datasets/README_template.MD
datasets/illinois/il-isgs/log
datasets/maine/mgs/__pycache__/variable.cpython-311.pyc
../fio/datasets/federal/naics/catalog-v001.xml
datasets/federal/us-sdwis/us-sdwis-geographicarea-IL.ttl
datasets/federal/us-sdwis/us-sdwis-serviceareas-IL.ttl
datasets/federal/us-sdwis/us-sdwis-serviceareas-ME.ttl
datasets/__pycache__/utilities.cpython-311.pyc
datasets/maine/egad/__pycache__/variable.cpython-311.pyc
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-AK.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-AL.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-CA.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-CO.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-IA.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-ID.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-IN.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-KY.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-LA.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-MA.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-MD.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-MI.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-NC.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-NH.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-NJ.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-NV.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-OH.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-OR.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-Other.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-PA.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-RI.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-SC.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-UT.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-VA.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-VT.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-WV.ttl
datasets/federal/us-sdwis/us-sdwis-01.ttl
datasets/federal/us-sdwis/us-sdwis-02.ttl
datasets/federal/us-sdwis/us-sdwis-04.ttl
datasets/federal/us-sdwis/us-sdwis-05.ttl
datasets/federal/us-sdwis/us-sdwis-06.ttl
datasets/federal/us-sdwis/us-sdwis-07.ttl
datasets/federal/us-sdwis/us-sdwis-08.ttl
datasets/federal/us-sdwis/us-sdwis-09.ttl
datasets/federal/us-sdwis/us-sdwis-10.ttl
datasets/federal/us-sdwis/us-sdwis-AK.ttl
datasets/federal/us-sdwis/us-sdwis-AL.ttl
datasets/federal/us-sdwis/us-sdwis-AR.ttl
datasets/federal/us-sdwis/us-sdwis-AS.ttl
datasets/federal/us-sdwis/us-sdwis-AZ.ttl
datasets/federal/us-sdwis/us-sdwis-CA.ttl
datasets/federal/us-sdwis/us-sdwis-CO.ttl
datasets/federal/us-sdwis/us-sdwis-CT.ttl
datasets/federal/us-sdwis/us-sdwis-DC.ttl
datasets/federal/us-sdwis/us-sdwis-DE.ttl
datasets/federal/us-sdwis/us-sdwis-FL.ttl
datasets/federal/us-sdwis/us-sdwis-GA.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-01.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-02.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-04.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-05.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-06.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-07.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-08.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-09.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-10.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-AK.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-AL.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-AR.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-AS.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-AZ.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-CA.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-CO.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-CT.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-DC.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-DE.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-FL.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-GA.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-GU.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-HI.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-IA.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-ID.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-IN.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-KS.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-KY.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-LA.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-MA.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-MD.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-ME.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-MI.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-MN.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-MO.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-MP.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-MS.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-MT.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-NC.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-ND.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-NE.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-NH.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-NJ.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-NM.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-NN.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-NV.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-NY.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-OH.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-OK.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-OR.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-PA.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-PR.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-RI.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-SC.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-SD.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-TN.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-TX.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-UT.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-VA.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-VI.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-VT.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-WA.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-WI.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-WV.ttl
datasets/federal/us-sdwis/us-sdwis-geographicarea-WY.ttl
datasets/federal/us-sdwis/us-sdwis-GU.ttl
datasets/federal/us-sdwis/us-sdwis-HI.ttl
datasets/federal/us-sdwis/us-sdwis-IA.ttl
datasets/federal/us-sdwis/us-sdwis-ID.ttl
datasets/federal/us-sdwis/us-sdwis-IN.ttl
datasets/federal/us-sdwis/us-sdwis-KS.ttl
datasets/federal/us-sdwis/us-sdwis-KY.ttl
datasets/federal/us-sdwis/us-sdwis-LA.ttl
datasets/federal/us-sdwis/us-sdwis-MA.ttl
datasets/federal/us-sdwis/us-sdwis-MD.ttl
datasets/federal/us-sdwis/us-sdwis-MI.ttl
datasets/federal/us-sdwis/us-sdwis-MN.ttl
datasets/federal/us-sdwis/us-sdwis-MO.ttl
datasets/federal/us-sdwis/us-sdwis-MP.ttl
datasets/federal/us-sdwis/us-sdwis-MS.ttl
datasets/federal/us-sdwis/us-sdwis-MT.ttl
datasets/federal/us-sdwis/us-sdwis-NC.ttl
datasets/federal/us-sdwis/us-sdwis-ND.ttl
datasets/federal/us-sdwis/us-sdwis-NE.ttl
datasets/federal/us-sdwis/us-sdwis-NH.ttl
datasets/federal/us-sdwis/us-sdwis-NJ.ttl
datasets/federal/us-sdwis/us-sdwis-NM.ttl
datasets/federal/us-sdwis/us-sdwis-NN.ttl
datasets/federal/us-sdwis/us-sdwis-NV.ttl
datasets/federal/us-sdwis/us-sdwis-NY.ttl
datasets/federal/us-sdwis/us-sdwis-OH.ttl
datasets/federal/us-sdwis/us-sdwis-OK.ttl
datasets/federal/us-sdwis/us-sdwis-OR.ttl
datasets/federal/us-sdwis/us-sdwis-PA.ttl
datasets/federal/us-sdwis/us-sdwis-PR.ttl
datasets/federal/us-sdwis/us-sdwis-RI.ttl
datasets/federal/us-sdwis/us-sdwis-SC.ttl
datasets/federal/us-sdwis/us-sdwis-SD.ttl
datasets/federal/us-sdwis/us-sdwis-TN.ttl
datasets/federal/us-sdwis/us-sdwis-TX.ttl
datasets/federal/us-sdwis/us-sdwis-UT.ttl
datasets/federal/us-sdwis/us-sdwis-VA.ttl
datasets/federal/us-sdwis/us-sdwis-VI.ttl
datasets/federal/us-sdwis/us-sdwis-VT.ttl
datasets/federal/us-sdwis/us-sdwis-WA.ttl
datasets/federal/us-sdwis/us-sdwis-WI.ttl
datasets/federal/us-sdwis/us-sdwis-WV.ttl
datasets/federal/us-sdwis/us-sdwis-WY.ttl
datasets/maine/egad/egad_samples_output.ttl
datasets/maine/egad/pfas_parameter.ttl
datasets/maine/egad/result_type.ttl
datasets/maine/egad/sample_collection_method.ttl
datasets/maine/egad/sample_location.ttl
datasets/maine/egad/sample_point_type.ttl
datasets/maine/egad/sample_treatment_status.ttl
datasets/maine/egad/sample_type.ttl
datasets/maine/egad/site_type.ttl
datasets/maine/egad/sites_types.ttl
datasets/maine/egad/test_method.ttl
datasets/maine/egad/concentration_qualifier.ttl
datasets/maine/egad/analysis_lab.ttl
datasets/maine/egad/validation_level.ttl
datasets/maine/egad/egad_sites_samples_output.ttl
datasets/federal/us-sdwis/us-sdwis-sample-schema.ttl
datasets/federal/us-sdwis/us-pat-SDWIS-IL.ttl
datasets/federal/us-sdwis/us-pat-SDWIS-ME.ttl
datasets/federal/us-ghg/us-ghg-facilities-IL.ttl
datasets/federal/us-ghg/us-ghg-facilities-ME.ttl
datasets/federal/us-ghg/us-ghg-releases-IL.ttl
datasets/federal/us-ghg/us-ghg-releases-ME.ttl
datasets/federal/us-wqp/wqp-metadata.py
datasets/federal/us-wqp/old_code/wqp-observations.py
datasets/federal/us-wqp/old_code/wqp-station.py
datasets/federal/us-wqp/controlledVocab/wqp_controlledVocab.zip
datasets/federal/us-wqp/old_code/variable.py
datasets/federal/us-wqp/old_code/metadata/Activity Media Subdivision.csv
datasets/federal/us-wqp/old_code/metadata/Activity Media.csv
datasets/federal/us-wqp/old_code/metadata/ActivityType.CSV
datasets/federal/us-wqp/old_code/metadata/Analytical Method.csv
datasets/federal/us-wqp/old_code/metadata/Characteristic.csv
datasets/federal/us-wqp/old_code/metadata/LocalAquifer.CSV
datasets/federal/us-wqp/old_code/metadata/MonitoringLocationType.CSV
datasets/federal/us-wqp/old_code/metadata/NationalAquifer.CSV
datasets/federal/us-wqp/old_code/metadata/Organization.CSV
datasets/federal/us-wqp/old_code/metadata/SampleCollectionMethod.CSV
datasets/federal/us-wqp/old_code/metadata/WellType.csv
datasets/federal/us-wqp/old_code/wqp-metadata.py
.gitignore
datasets/maine/egad/egad_observation_output.ttl
datasets/maine/egad/egad_result_output.ttl
datasets/maine/egad/egad_sites_types.ttl
