/datasets/data/
datasets/federal/naics/log
datasets/federal/us-frs/log
datasets/federal/us-frs/us-frs-data-echo-IL.ttl
datasets/federal/us-frs/us-frs-data-echo-ME.ttl
datasets/federal/us-frs/us-frs-data-echo.ttl
datasets/federal/us-frs/us-frs-data-pat-ME.ttl
datasets/federal/us-frs/us-frs-environmentalInterest-echo_IL.ttl
datasets/federal/us-frs/us-frs-environmentalInterest-echo_ME.ttl
datasets/federal/us-frs/us-frs-environmentalInterest-echo.ttl
datasets/federal/us-frs/us-frs-industry-naics-echo-IL.ttl
datasets/federal/us-frs/us-frs-industry-naics-echo-ME.ttl
datasets/federal/us-frs/us-frs-industry-naics-echo.ttl
datasets/federal/us-frs/us-frs-industry-sic-echo-IL.ttl
datasets/federal/us-frs/us-frs-industry-sic-echo-ME.ttl
datasets/federal/us-frs/us-frs-industry-sic-echo.ttl
datasets/federal/us-frs/__pycache__/variable.cpython-311.pyc
datasets/federal/us-ghg/log
datasets/federal/us-ghg/us-epa-ghg-releases-IL.ttl
datasets/federal/us-ghg/us-epa-ghg-releases-ME.ttl
datasets/federal/us-sdwis/log
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-IL.ttl
datasets/federal/us-sdwis/us-pat-DrinkingWaterState-ME.ttl
datasets/federal/us-sdwis/us-sdwis-IL.ttl
datasets/illinois/il-epa/il-epa-water2021.ttl
datasets/illinois/il-epa/log
datasets/maine/mgs/log
datasets/maine/mgs/mgs_wells_located_output.ttl
datasets/maine/mgs/mgs_wells_unlocated_output.ttl
datasets/maine/mgs/well_types.txt
datasets/maine/mgs/well_uses.txt
ontologies/administrative-regions/mgs_wells_located_output.ttl
datasets/federal/us-frs/us-frs-data-echo-OH.ttl
datasets/federal/us-frs/us-frs-data-pat-IL.ttl
datasets/federal/us-frs/us-frs-data-pat-OH.ttl
datasets/federal/us-frs/us-frs-industry-naics-echo-OH.ttl
datasets/federal/us-frs/us-frs-industry-sic-echo-OH.ttl
datasets/illinois/il-isgs/il-isgs-wells.ttl
datasets/illinois/il-isgs/il-isgs-wellsGeo.ttl
datasets/federal/us-sdwis/us-sdwis-ME.ttl
datasets/massachusetts/README.MD
datasets/federal/us-frs/us-frs-environmentalInterest-echo_OH.ttl
datasets/README_template.MD
datasets/illinois/il-isgs/log
datasets/maine/mgs/__pycache__/variable.cpython-311.pyc
datasets/federal/naics/catalog-v001.xml
